* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }

.title {
    color: red;
}

div p {
    color: red;
}


input [type="button"] {
    border: none;
}

a:hover, a:active {
    color: red;
}

a:visited {
    color: blueviolet;
}

a:focus {
    color: yellow;
}   

div>strong {
    color: blue;
}